<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>IFSP - Lista de Atrasos</title>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<h1>Lista de Atrasos</h1>
		
		<p th:if="${#lists.isEmpty(ocorrencias)}">
			A consulta não gerou resultados.
			<br>
			<a th:href="@{'/'}">Voltar</a>
		</p>
		
		<table border="1" th:if="${not #lists.isEmpty(ocorrencias)}">
			<tr>
				<th>ID</th>
				<th>Nome do Aluno</th>
				<th>Horário</th>
				<th>Justificativa</th>
				<th colspan="2">Funcionalidades</th>
			</tr>
			
			<tr th:each="ocorrencia : ${ocorrencias}" >
				<td th:text="${ocorrencia.id}"></td>
				<td th:text="${ocorrencia.nome_aluno}"></td>
				<td th:text="${ocorrencia.horario}"></td>
				<td th:text="${ocorrencia.justificativa}"></td>
				<td><a th:href="@{'/ocorrencia/' + ${ocorrencia.id} + '/editar'}">Editar</a></td>
				<td><a th:href="@{'/ocorrencia/' + ${ocorrencia.id} + '/excluir'}">Excluir</a></td>
			</tr>
		</table>
	</body>
</html>
